<div class="addbook-form">
    <div class="col-md-6">
      <h1 class="form-title">ADD BOOK</h1>
      <div class="col-md-12">
        <input type="number" id="id" class="form-control" placeholder="Book ID"/>
      </div>
      <div class="col-md-12">
        <input type="text" id="title" class="form-control" placeholder="Book Title"/>
      </div>
      <div class="col-md-12">
        <input type="text" id="author-name" class="form-control" placeholder="Book Author"/>
      </div>
      <div class="col-md-12">
        <div class="input-group">
          <input type="number"  id="price" class="form-control col-md-6" placeholder="Book Price"/>
          <input type="number" id="rating" max="5" class="form-control col-md-6" placeholder="Book Rating"/>
        </div>
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="description" placeholder="Description" rows="3"></textarea>
      </div>
      <div id="btn-section"> 
        <button class="btn btn-dark" id="addData">ADD</button>
      </div>
    </div>
</div>