<div class="container">
    <div class="horizontal-view">
        <div class="selection-box">
            <select class="form-select" id="search-options" onchange="myFunction();" aria-label="Default select example">
                <option selected>Search By</option>
                <option value="id">ID</option>
                <option value="Title">Title</option>
                <option value="Author">Author</option>
                <option value="Rating">Rating</option>
            </select>
        </div>
        <div class="search-box">
            <input class="form-control" type="text" id="searchresult" placeholder="Enter Input" aria-label="default input example">            
        </div>
        <div>
            <button class="btn btn-dark search-btn" id="search-btn">SEARCH <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
    <table id="table" class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Rating</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="tableData">
      </tbody>
    </table>
  </div>