body{
    margin : 0px
}

.cell{
    margin:0px;
    width: 100px;
    height:100px;
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    font-size: 3rem;
    float: left;
    background-color: white;
}
.board{
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: 50px 0px 0px 25px;
    padding: 0px;
}
.status{
    font-size: 1.5rem;
    margin: 20px 0px 0px 30px;
}
.horizontal-layout{
    display: flex;
}
.resultTable{
    width: 350px;
    margin-left: 50px;
    margin-top: 105px;
    
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 300px;
}
tr,td{
    text-align: center;
}
.reset-btn{
    margin: 20px 0px 0px 115px;
    font-size: 1rem;
    padding: 5px 35px;
}
.input-field{
    margin: 40px 0px 15px 20px;
}
label{
    margin-left: 15px;
}
input[type="text"]{
    margin-left: 10px;
}
.submit-btn{
    margin-left: 10px;
}
.timer-layout{
    width: 350px;
}
.timer{
    margin-left : 50px;
    border: 1px solid black;
    width: 70px;
}
.player-name{
    margin-left: 50px;
}