*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin-top: 5%;
}
thead{
    background: #1CB5E0;
}
.cover-img{
    width: 14rem;
    height: 16rem;
    border-radius: 10% 10% 5% 5% ;
}
.lottie-animation{
    margin-top: 80px;
}
.welcome-text{
    text-align: center;
}
.container-addbook{
    width:1000px
}
.submit-btn{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    font-weight: bold;
}
.card-title{
    font-weight: bold;
}
.book-card{
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 500px;
    margin-top: 10px;
}
.book-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.detail-cover-img{
    height: 400px;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
}
.sub-title{
    color: grey;
}
.title{
    font-weight: bold;
}
.horizontal-view{
    display: flex;
}
.star-rating{
    padding-left: 15px;
}
.horizontal-view.search-area{
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0px;
}
.select-search{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    color: white;
    font-weight: bold;
}

.search-input{
    margin-left: 10px;
    margin-right: 10px;
}
.search-box{
    width: 120px;
    margin-right: 5px;
}
.delete-btn{
    margin: 10px 100px;
}